<div class="modal-header">
  <h4 class="modal-title">{{group.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <input type="text" [(ngModel)]="group.name" placeholder="Name" class="form-control">
    <input type="text" [(ngModel)]="group.specialization.name" placeholder="Name" class="form-control">
    <input type="text" [(ngModel)]="group.beginYears" placeholder="Name" class="form-control">
    <input type="text" [(ngModel)]="group.creationYear" placeholder="Name" class="form-control">
    <input type="text" [(ngModel)]="group.studySemesters" placeholder="Name" class="form-control">
    <input type="text" [(ngModel)]="group.studyYears" placeholder="Name" class="form-control">
    <input type="text" [(ngModel)]="group.tuitionForm" placeholder="Name" class="form-control">
    <input type="text" [(ngModel)]="group.tuitionTerm" placeholder="Name" class="form-control">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
